<%- include('includes/head') %>
<%- include('includes/nav') %>
  <body>
    <section style="display: flex; justify-content: center">
      <div>
        <h1 style="font-size: 100px; text-align: center" class="my-4">
          Erro 404!
        </h1>
        <p style="font-size: 30px">A pagina que voce procura não existe</p>
      </div>
    </section>
  </body>
</html>
